crewai
openai
huggingface
torch
streamlit
tqdm
pandas
yfinance
matplotlib
seaborn

openai
langchain-community
autogen-agentchat==0.4.0.dev3
langchain_openai

aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
async-timeout
attrs
beautifulsoup4
blinker
bs4
cachetools
certifi
charset-normalizer
click
contourpy
cycler
distro
faiss-cpu
fonttools
frozenlist
gitdb
gitpython
greenlet
h11
httpcore
httpx
idna
jinja2
jiter
jsonschema
jsonschema-specifications
kiwisolver
lxml
langchain
langchain_community
langchain_openai
markdown-it-py
markupsafe
matplotlib
mdurl
multidict
narwhals
numpy
openai
pandas
pillow
propcache
protobuf
pyarrow
pydantic
pydantic-core
pydeck
pyparsing
pypdf2
pypdf
python-pptx
pytz
referencing
requests
rich
rpds-py
smmap
sniffio
soupsieve
sqlalchemy
streamlit
tenacity
toml
tqdm
tzdata
urllib3
watchdog
xlsxwriter
yarl
langchain-community
langchain-core
autogen-agentchat==0.4.0.dev3
langchain_openai
bs4
